services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: aligarh
    ports:
      - "${HOST_PORT}:80"
    volumes:
      - ./:/var/www/html
    restart: unless-stopped
